.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 15px
  }
  
  .modalContent {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .imageContainer {
    flex: 1;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .productImage {
    max-width: 100%;
    
    height: 300px;
    object-fit: contain;
  }
  
  .productDetails {
    flex: 2;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .productTitle {
    font-size: 20px;
    color: #333;
    margin: 0;
  }
  
  .productDescription {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
    
  }

  .ratingContainer {
    display: flex;
    gap :5px;
  }
  
  .productPrice,
  .productCategory {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .buttonContainer {
    margin-top: auto;
    display: flex;
    gap: 10px;
  }
  
  .addToCartButton,
  .closeModalButton {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s;
  }
  
  .addToCartButton {
    background-color: #28a745;
    color: #fff;
  }
  
  .addToCartButton:hover {
    background-color: #218838;
  }
  
  .closeModalButton {
    background-color: #dc3545;
    color: #fff;
  }
  
  .closeModalButton:hover {
    background-color: #c82333;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .closeButton:hover {
    color: #dc3545;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .modalContent {
      flex-direction: column;
    }
  
    .productDetails {
      padding: 10px;
    }
  
    .addToCartButton,
    .closeModalButton {
      width: 100%;
      padding: 12px;
    }
  }
  